
#app {
    margin: auto;
    display: table;
}

.taskitem, .header-container {
    display: table-row;
}

.todo-content-container {
    width: 8in;
}

.todo-state, .todo-content-container, .todo-date, .header-container > div {
    display: table-cell;
    vertical-align: top;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    margin-bottom: 1in;
}

.todo-render h1 {
    padding-top: 1em;
    border-bottom: 1px solid lightgray;
}

html {
    font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif
}

.header-container > div {
    font-weight: bold;
    padding: 3rem .5rem 1.5rem .5rem;
    position: relative;
    left: 5px;
    font-size: 4rem;
}

.header-container > div {
    border-bottom: 1px solid lightgray;
}

.taskitem:hover {
    background-color: #fafafafa;
}

.todo-render > p:first-child {
    padding-top: .3rem;
    margin-top: 0;
}

.todo-render > :last-child {
    padding-bottom: .3rem;
    margin-bottom: 0;
}

.todo-render > * {
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin: 0;
}

.todo-render ul {
    padding-left: 1.5em;
}

.todo-content-container {
    padding: .2rem 1rem .2rem .5rem;
    #//margin: 1rem 0 1rem 0;
}

.todo-content-container {
    border-left: 5px solid rgba(0, 0, 0, 0);
}

.todo-state {
    padding: .4rem .5rem 0 .5rem;
    text-align: right;
}

.active > .todo-content-container {
    border-left: 5px solid #42A5F5;
}

.todo-editor {
    width: 100%;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.todo-date {
    color: gray;
    white-space: nowrap;
    vertical-align: middle;
    font-size: .6em;
    padding-right: .2rem;
}

.CodeMirror, .CodeMirror-scroll {
	  min-height: 0;
}

#statusbar-container {
    position: fixed;
    background-color: white;
    bottom: 0;
    width: 100%;
}

#statusbar {
    padding: 1em;
    border-top: 1px solid lightgray;
}

.statusbar-option {
    display: inline;
}

:target {
    background-color: #fffdcf;
}
