<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/simplemde.min.css">
        <link rel="stylesheet" href="/taskified.css">
        <script src="/vue.js"></script>
        <script src="/FileSaver.js"></script>
        <script src="/marked.min.js"></script>
        <script src="/simplemde.min.js"></script>
        <script src="/axios.js"></script>
        <title>Taskified</title>

        <!-- This will be replaced by the server when this file is
             served -->
        <script>
            var initialSavedFile__ = '';
        </script>
    </head>
    <body>
        <div id="app-container">
            <div id="app">
                <div id="savestatus">
                    {{savetext()}}
                </div>
                <div class="header-container">
                    <div :ref="'docTitle'"
                         spellcheck="false"
                         v-bind:class="{ changesUnsaved: changed }"
                         @mousedown="makeDocTitleEditable"
                         @focus="startUpdatingDocTitle"
                         @blur="updateDocumentTitle">
                        {{state.documentTitle}}
                    </div>
                </div>
                <div id="all-content">
                    <div
                        class="taskitem"
                        v-for="todo in state.todos"
                        v-bind:class="{ active: selectedTodos[todo.uid] }"
                        :ref="'badges_' + todo.uid"
                        @mousedown="e => (handleItemClick(todo, e.ctrlKey), e.stopPropagation())">
                        <div class="todo-state">{{todo.status}}</div>
                        <div class="todo-content-container">
                            <div v-html="todo.rendered"
                                 v-if="!editableTodos[todo.uid]"
                                 class="todo-render">
                            </div>
                            <div v-if="editableTodos[todo.uid]" class="todo-editor-container">
                                <simplemde class="todo-editor"
                                           :ref="'textareas_' + todo.uid"
                                           @notify="handleEditorChange(todo)"
                                           v-model="todo.original">
                                </simplemde>
                            </div>
                        </div>
                        <div class="todo-date">
                            {{formatDate(todo.createDate)}}<br />
                            <span v-if="todo.modDate"><span style="position: absolute; transform: translateX(-100%)">(</span>{{formatDate(todo.modDate)}})</span>
                        </div>
                    </div>
                </div>
                <div v-if="showControlPanel" id="cpanel-container">
                    <div>
                        <div
                            v-for="shortcut in state.setStateShortcuts"
                            class="existing-state-shortcut">
                            {{shortcut.shortcut}}: {{shortcut.pretty || shortcut.text}}
                            <input type="button" value="x" @click="deleteStateShortcut(shortcut)"></input>
                            <input type="button" value="<" @click="moveStateShortcutLeft(shortcut)"></input>
                            <input type="button" value=">" @click="moveStateShortcutRight(shortcut)"></input>
                        </div>
                    </div>
                    <div id="add-state-shortcut-form">
                        shortcut: <input type="text"
                                         :ref="'addStatus_shortcut'"
                                         @keydown="stopEvent">
                        pretty (optional): <input type="text"
                                                  :ref="'addStatus_pretty'"
                                                  @keydown="stopEvent">
                        status: <input type="text"
                                       :ref="'addStatus_text'"
                                       @keydown="stopEvent">
                        <input type="button" id="new-status-indicator-add-btn" value="add"
                               @click="addStatusShortcut"></input>
                    </div>
                </div>
            </div>
            <div id="statusbar-container">
                <div v-if="activeStatusShortcuts.length > 0" id="statusbar">
                    <div class="statusbar-option" v-for="option in activeStatusShortcuts">
                        {{option.shortcut}}: {{option.pretty || option.text}}
                    </div>
                </div>
            </div>
        </div>
        <script src="/taskified.js"></script>
    </body>
</html>
