
#app {
    margin: auto;
    max-width: 8in;
}

#all-content {
    display: table;
}

.taskitem {
    display: table-row;
}

.todo-content-container {
    width: 100%;
}

.todo-state, .todo-content-container, .todo-date {
    display: table-cell;
    vertical-align: top;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    margin-bottom: 1in;
}

.todo-render h1 {
    padding-top: 1em;
    border-bottom: 1px solid lightgray;
}

html {
    font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif
}

#savestatus {
    float: right;
    padding: 1em;
    color: lightgray;
}

.header-container {
    clear: both;
}

.header-container > div {
    font-weight: bold;
    padding: 3rem .5rem 1.5rem .5rem;
    position: relative;
    font-size: 4rem;
}

.header-container > div {
    border-bottom: 1px solid lightgray;
}

.taskitem:hover {
    background-color: #fafafafa;
}

.changesUnsaved:before {
    content: "*";
    position: absolute;
    transform: translateX(-100%);
    color: gray;
}

.todo-render > :first-child {
    padding-top: .3rem;
    margin-top: 0;
}

.todo-render > :last-child {
    padding-bottom: .3rem;
    margin-bottom: 0;
}

.todo-render > * {
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin: 0;
}

.todo-render pre {
    max-width: 8in;
    overflow-x: auto;
}

.todo-render ul {
    padding-left: 1.5em;
}

.todo-content-container {
    padding: .2rem 1rem .2rem .5rem;
    #//margin: 1rem 0 1rem 0;
}

.todo-content-container {
    border-left: 5px solid rgba(0, 0, 0, 0);
}

.todo-state {
    padding: .4rem .5rem 0 .5rem;
    text-align: right;
}

.active > .todo-content-container {
    border-left: 5px solid #42A5F5;
}

.todo-editor {
    width: 100%;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.todo-date {
    color: gray;
    white-space: nowrap;
    vertical-align: middle;
    font-size: .6em;
    padding-right: .2rem;
}

.CodeMirror, .CodeMirror-scroll {
	  min-height: 0;
}

#statusbar-container {
    position: fixed;
    background-color: white;
    bottom: 0;
    width: 100%;
}

#statusbar {
    padding: 1em;
    border-top: 1px solid lightgray;
}

.statusbar-option {
    display: inline;
}

:target {
    background-color: #fffdcf;
}

#cpanel-container {
    padding-top: 2em;
}

.existing-state-shortcut {
    display: inline-block;
    outline: 1px solid gray;
    background: #eee;
    margin: .2em .4em .2em .4em;
    padding: .2em;
}

#add-state-shortcut-form {
    margin: 1em;
}

#add-state-shortcut-form > input[type="text"] {
    width: 2em;
}
